*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Solway", serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.logo{
    width: 110px;
}
.listItem{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}
.links:hover{
    color: red;
    text-decoration: underline;
}
.homeContent{
    margin: 13% 0px 0px 8%;
}
#fullname{
    font-size: 40px;
    margin-bottom: 20px;
}
#lname{
    color: orange;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.homeImages{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;

}
.group1{
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s, left 1s;
}
.homeImages:hover #shape{
    bottom: 70px;
}
.homeImages:hover #girl{
    left: 40%;
}

#about{
    margin: 30% 8% 0px 8%;

}
.sectionHead{
    text-align: center;
}
.mainHead{
    font-size: 30px;
}
.subHead{
    font-size: 20px;
    color: orange;
}
.aboutBody{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.aboutImg{
    width: 80%;
   

}
.aboutContents{
    font-size: 20px;
    text-align: justify;
}
.aboutInfo{
    margin-top: 1.3rem;
}
.infoBox{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.infoText{
    margin-left: 1rem;
}
#skill{
    margin: 8% 8% 0px 8%;

}
.skillContents{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-items: center;
}
.mySkills{
    width: 100%;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    position: relative;
}
.barHead,.barPercent{
    font-weight: 500;
    font-size: 1.2rem;
}
.baseBar{
    background-color: black;
    height: 0.5rem;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.htmlBar{
    background-color: orange;
    width: 89%;
}
.cssBar{
    background-color: orange;
    width: 84%;
}
.jsBar{
    background-color: orange;
    width: 81%;
}
.reactBar{
    background-color: orange;
    width: 83%;
}
#contact{
    margin: 8% 8%;
}
.iconCollections{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;

}
.icon:hover{
    background-image: linear-gradient(to bottom right,white,yellow,red,orange);
}
.brand{
    color: black;
    font-size: 30px;
}
.icon:hover .brand{
    color: white;
    animation: rotate 3s;
}

@keyframes rotate {
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
footer{
    margin-top: 8%;
}
.copyRight{
    text-align: center;
    font-weight: 600;
}
.upArrow{
    float: right;
    margin: -40px 30px 30px 0px;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}